body{
    background-color: #E4DEBE;
    height: 940px;
}
.div1{
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
}
h1{
    color: #A94438;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 110px;
}
.div2{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.botao{
    width: 210px;
    height: 50px;
}
.b1{
    color: #A94438;
    margin-right: 2px;
    margin-left: 4px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    font-size: 25px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: #E4DEBE;
}
.div3{
    height: 385px;
    width: 100%;
}
.texto1{
    border-radius: 10px;
    margin-left: 1%;
    height: 375px;
    width: 98%;
    background-color: #D24545;
}
.div4{
    display: flex;
    height: 385px;
    width: 100%;
}
.img{
    margin-left: 1%;
    border-radius: 20px;
    height: 385px;
    width: 40%;
    background-color: #A94438;
}
.texto2{
    margin-left: 1%;
    border-radius: 10px;
    height: 385px;
    width: 57%;
    background-color:#D24545;
}